
@{
    ViewBag.Title = "Demo Leave";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Leave </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Leave</label>
                    <select id="leaveDropdown" class="form-control selectpicker"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>From Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="fromDate">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>To Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="toDate">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Leave Cause</label>
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" id="leaveCause">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Leave Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" id="leaveAddress">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        <button id="cancelButton" type="submit" class="btn btn-primary">Cancel</button>
    </div>
</div>
<!-- /.box -->
@section scripts {
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var apiUrlPrefix = "http://localhost:30278/api/";
        var token = getParameterByName('token');
        $(document).ready(function () {
            jQuery.ajax({
                type: "GET",
                url: apiUrlPrefix + "leavetype",
                contentType: 'application/json; charset = utf-8',
                dataType: 'json',
                success: function (data) {
                    console.log("Leave Data"+data);
                    //console.log(data.length); // this data response is coming as js object, don't know why

                    jQuery('#leaveDropdown').empty();

                    for (var i = 0; i < data.length; i++) {
                        jQuery('#leaveDropdown')
                            .append(jQuery('<option>',
                                {
                                    value: data[i]["id"],
                                    text: data[i]["name"]
                                })
                            );
                    }

                    //jQuery('#dropdownLeave').selectpicker('refresh');
                },

                failure: function () {
                    console.log("Users Get Failed!");
                }
            }
            );

            $('#fromDate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                calendarWeeks: true
            });
            $('#toDate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                calendarWeeks: true
            });
            jQuery('#submitButton').on('click', function (e) {

                // No token is in url, so access forbidden
                if (!token) {
                    toastr.options =
                        {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-bottom-right",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };

                    toastr.error('You are not allowed to perform this action!', 'Leave Notification');
                    return;
                }
                var leaveTypeId = jQuery('#leaveDropdown').val();
                var dateStart = jQuery('#fromDate').val();
                var dateEnd = jQuery('#toDate').val();
                var leaveCause = jQuery('#leaveCause').val();
                var leaveAddress = jQuery('#leaveAddress').val();

                // start of jQuery.ajax
                jQuery.ajax({
                    type: "POST",
                    url: apiUrlPrefix + "leaves/own",

                    data: JSON.stringify({
                        // leave parameter starts
                        'LeaveTypeId': leaveTypeId,
                        //'UserName': userName, // userName is skipped now, we shall extract it from the token
                        'DateStart': dateStart,
                        'DateEnd': dateEnd,
                        'LeaveCause': leaveCause,
                        'LeaveAddress': leaveAddress
                        // leave parameter ends
                    }),

                    contentType: 'application/json; charset = utf-8',
                    dataType: 'json',

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },

                    success: function (data) {

                        console.log(data);

                        if (data == "expired") {
                            console.log("token expired");

                            toastr.options =
                                {
                                    "closeButton": true,
                                    "debug": false,
                                    "positionClass": "toast-bottom-right",
                                    "onclick": null,
                                    "showDuration": "1000",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };

                            toastr.warning('Sorry, session expired, you\'ve to sign in again', 'Session Notification');

                            //window.location = "SignIn.aspx";
                            return;
                        }
                        toastr.options =
                            {
                                "closeButton": true,
                                "debug": false,
                                "positionClass": "toast-bottom-right",
                                "onclick": null,
                                "showDuration": "1000",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                        toastr.success('Leave Submitted Successfully!', 'Leave Notification');
                    },

                    failure: function () {
                        toastr.options =
                            {
                                "closeButton": true,
                                "debug": false,
                                "positionClass": "toast-bottom-right",
                                "onclick": null,
                                "showDuration": "1000",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                        toastr.error('Leave Submission Failed!', 'Leave Notification');
                    }
                }
                );
                // end of jQuery ajax



            });


        });
    </script>

}

